<h1 class="mt-5" >Welcome to InstaPic</h1>
<p class="lead">Please Register or Sign-In!</p>
<%= link_to "Sign Up", new_account_registration_path, class: "btn btn-success" %>
<%= link_to "Sign In", new_account_session_path, class: "btn btn-secondary" %>